<form action="<%= cat_url(@cat) %>" method='post' >
<input type="hidden" name="_method" value="patch">
    <label for="name">Cat name:
        <input type="text" name="cat[name]" id="name" value="<%= @cat.name %>">
    </label>
    <br>
    <label for="color">Choose cat color:
        <select name="color" id="color">
            <option value="--select a color--" selected disabled>--select a color--</option>
            <option value="black">black</option>
            <option value="orange">orange</option>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="white">white</option>
        </select>
        
    </label>
    <br>
        Choose the sex: 
        <input type="radio" name="cat[sex]" id="male" value="M">
        <label for="male">Male</label>
        <input type="radio" name="cat[sex]" id="female" value="F">
        <label for="female">Female</label>
    <br>
    <label for="date">Cat birthdate
        <input type="date" name="cat[age]" id="date" value="">
    </label>
    <br>
    <label for="description">Cat description:
        <input type="textarea" description="cat[description]" id="description" value="">
    </label>
    <br>
    <input type="submit" value="Submit">
</form>