.section-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 30px;
	// top: -15px;
	left: 25%;
	// background: white;

}

.section-nav-word {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


li:hover {
  background-color: $lightest-gray;
}

.section-nav-word > li:last-child:hover{
text-decoration:underline ;
}